:where(:root) {
    --gap-ratio: 1.5;
    --gap-4xs: calc(var(--gap-3xs) / var(--gap-ratio));
    --gap-3xs: calc(var(--gap-2xs) / var(--gap-ratio));
    --gap-2xs: calc(var(--gap-xs) / var(--gap-ratio));
    --gap-xs: calc(var(--gap-sm) / var(--gap-ratio));
    --gap-sm: calc(var(--gap-md) / var(--gap-ratio));
    --gap-md: 16px;
    --gap-lg: calc(var(--gap-md) * var(--gap-ratio));
    --gap-xl: calc(var(--gap-lg) * var(--gap-ratio));
    --gap-2xl: calc(var(--gap-xl) * var(--gap-ratio));
    --gap-3xl: calc(var(--gap-2xl) * var(--gap-ratio));
    --gap-4xl: calc(var(--gap-3xl) * var(--gap-ratio));
}
